[package]
name = "stwo_cairo_air"
version = "0.1.0"
edition = "2024_07"

[lib]
casm = true

[tool.fmt]
sort-module-level-items = true

[dependencies]
stwo_verifier_core = { path = "../verifier_core", features = ["no_qm31_opcode", "poseidon252_verifier"] }
stwo_constraint_framework = { path = "../constraint_framework" }

[dev-dependencies]
cairo_test = "2.11.2"
