[package]
name = "stwo-cairo-adapter"
version = "0.1.0"
edition = "2021"


[features]
slow-tests = []
std = ["dep:sonic-rs"]

[dependencies]
bytemuck.workspace = true
cairo-lang-casm.workspace = true
cairo-vm.workspace = true
indoc.workspace = true
itertools.workspace = true
log.workspace = true
serde.workspace = true
serde_json.workspace = true
stwo-cairo-common.workspace = true
tracing.workspace = true
thiserror.workspace = true
sonic-rs = { version = "0.3.17", optional = true }
stwo.workspace = true
memmap2 = "0.9.5"
bincode = { version = "2.0.1", features = ["serde"] }
dashmap = "6.1.0"
rayon.workspace = true
crypto-bigint = "0.5.1"

[dev-dependencies]
cairo-lang-casm.workspace = true
rand.workspace = true
test-case.workspace = true
dev-utils.workspace = true
