[package]
name = "stwo-cairo-adapter"
version = "0.1.0"
edition = "2021"


[features]
default = ["std"]
slow-tests = []
extract-mem-trace = []
# TODO(STAV): Delete this feature when the old adapter is removed.
std = ["dep:sonic-rs", "cairo-vm/std"]

[dependencies]
bytemuck.workspace = true
cairo-lang-casm.workspace = true
cairo-vm.workspace = true
indoc.workspace = true
itertools.workspace = true
log.workspace = true
serde.workspace = true
serde_json.workspace = true
stwo-cairo-common.workspace = true
tracing.workspace = true
thiserror.workspace = true
sonic-rs = { version = "0.3.17", optional = true }
stwo.workspace = true
memmap2 = "0.9.5"
bincode = { version = "2.0.1", features = ["serde"] }
dashmap = "6.1.0"
rayon.workspace = true
clap.workspace = true
crypto-bigint = "0.5.1"
cairo-lang-executable = { git = "https://github.com/starkware-libs/cairo.git", rev = "86eb25173f9d8700adbd2770406d715fbf1bb9f8" }
cairo-lang-runner = { git = "https://github.com/starkware-libs/cairo.git", rev = "86eb25173f9d8700adbd2770406d715fbf1bb9f8" }
cairo-lang-utils = { git = "https://github.com/starkware-libs/cairo.git", rev = "86eb25173f9d8700adbd2770406d715fbf1bb9f8" }

[dev-dependencies]
cairo-lang-casm.workspace = true
rand.workspace = true
test-case.workspace = true
dev-utils.workspace = true
