[package]
name = "stwo-cairo-adapter"
version = "0.1.0"
edition = "2021"


[features]
slow-tests = []
std = ["dep:sonic-rs"]

[dependencies]
bytemuck.workspace = true
cairo-lang-casm.workspace = true
cairo-vm.workspace = true
itertools.workspace = true
log.workspace = true
serde.workspace = true
serde_json.workspace = true
sonic-rs = { version = "0.3.17", optional = true }
stwo-cairo-common.workspace = true
stwo-prover.workspace = true
thiserror.workspace = true
tracing.workspace = true

[dev-dependencies]
cairo-lang-casm.workspace = true
rand.workspace = true
test-case.workspace = true
