crates/prover/test_data/large_sample/pub.json filter=lfs diff=lfs merge=lfs -text
crates/prover/test_data/large_sample/trace filter=lfs diff=lfs merge=lfs -text
crates/prover/test_data/large_sample/fact.json filter=lfs diff=lfs merge=lfs -text
crates/prover/test_data/large_sample/mem filter=lfs diff=lfs merge=lfs -text
crates/prover/test_data/large_sample/priv.json filter=lfs diff=lfs merge=lfs -text
