[package]
name = "stwo_cairo_prover"
version = "0.1.0"
edition = "2021"

[dependencies]
itertools = "0.12.0"
num-traits = "0.2.17"
# TODO(ShaharS): take stwo version from the source repository.
stwo-prover = { git = "https://github.com/starkware-libs/stwo", rev = "2501444" }
