[workspace]
members = [
    "crates/adapted_prover",
    "crates/prover",
    "crates/cairo-serialize",
    "crates/cairo-serialize-derive",
    "crates/utils",
    "crates/run_and_prove",
    "crates/vm_runner",
    "crates/prover_types",
    "crates/air_structs_derive",
    "crates/recursion_bridge",
]
resolver = "2"

[workspace.package]
version = "0.1.1"
edition = "2021"

[workspace.dependencies]
bytemuck = { version = "1.20.0", features = ["derive"] }
cairo-lang-casm = "2.7.1"
# TODO(yuval): Use an official version, not a specific commit.
cairo-vm = { git = "https://github.com/lambdaclass/cairo-vm", rev = "83bfdcf", features = [
    "mod_builtin",
], default-features = false }
clap = { version = "4.3.10", features = ["derive"] }
env_logger = { version = "0.11.5", default-features = false }
hex = "0.4.3"
itertools = "0.12.0"
log = "0.4.21"
num-traits = "0.2.17"
rand = "0.8.5"
serde = "1.0.207"
serde_json = "1.0.1"
stwo_cairo_prover = { path = "crates/prover", version = "~0.1.0" }
stwo_cairo_utils = { path = "crates/utils", version = "~0.1.0" }
# TODO(ShaharS): take stwo version from the source repository.
stwo-prover = { git = "https://github.com/starkware-libs/stwo", rev = "af5475cb", features = [
    "parallel",
], default-features = false }
thiserror = { version = "2.0.10", default-features = false }
tracing = "0.1.40"
tracing-subscriber = "0.3.18"
paste = "1.0"
starknet-ff = "0.3.7"
ruint = "1.12.3"
# Pin wasm-bindgen version to the version pinned by lambdaclass/cairo-vm/vm
# TODO(yuval): remove the pin once the pinning in lambdaclass/cairo-vm/vm is removed.
wasm-bindgen = { version = "= 0.2.92" }

[profile.bench]
codegen-units = 1
lto = true
