[package]
name = "stwo_vm_runner"
version = "0.1.0"
edition = "2021"

[dependencies]
cairo-vm = "1.0.2"
itertools.workspace = true
num-traits = "0.2.17"
serde = "1.0.207"
thiserror = "1.0.63"
clap.workspace = true
stwo_cairo_prover = { path = "../prover", version = "~0.1.0" }
chrono = "0.4.38"
# Pin wasm-bindgen version to the version pinned by lambdaclass/cairo-vm/vm
# TODO(yuval): remove the pin once the pinning in lambdaclass/cairo-vm/vm is removed.
wasm-bindgen = { version = "= 0.2.92" }
