[package]
name = "stwo_cairo_prover"
version = "0.1.0"
edition = "2021"

[features]
slow-tests = []

[dependencies]
air_structs_derive = { path = "../air_structs_derive" }
stwo-air-utils-derive =  {git = "https://github.com/starkware-libs/stwo", rev = "c5c6eda"}
stwo-air-utils = {git = "https://github.com/starkware-libs/stwo", rev = "c5c6eda"}
bytemuck.workspace = true
cairo-lang-casm.workspace = true
cairo-vm.workspace = true
hex.workspace = true
itertools.workspace = true
num-traits.workspace = true
paste.workspace = true
prover_types = { path = "../prover_types" }
rayon = { version = "1.10.0", optional = false }
serde.workspace = true
sonic-rs.workspace = true
starknet-ff.workspace = true
stwo_cairo_utils = { path = "../utils" }
stwo-cairo-serialize = { path = "../cairo-serialize" }
stwo-prover.workspace = true
thiserror.workspace = true
tracing.workspace = true

[dev-dependencies]
cairo-lang-casm.workspace = true
rand.workspace = true
