[package]
name = "stwo_cairo_prover"
version = "0.1.0"
edition = "2021"

[features]
slow-tests = []
std = ["dep:sonic-rs"]

# Define Nightly features in order to allow selective tests
# Use the following #[cfg(feature = "nightly")]
# to enable nightly features on specific tests.
nightly = []

[dependencies]
stwo-air-utils-derive = { git = "https://github.com/starkware-libs/stwo", rev = "a194fad" }
stwo-air-utils = { git = "https://github.com/starkware-libs/stwo", rev = "a194fad" }
bytemuck.workspace = true
cairo-lang-casm.workspace = true
cairo-vm.workspace = true
hex.workspace = true
itertools.workspace = true
num-traits.workspace = true
paste.workspace = true
# TODO(Ohad): Add parallel config.
stwo-cairo-common = { path = "../common" }
rayon = { version = "1.10.0" }
serde.workspace = true
serde_json.workspace = true
starknet-ff.workspace = true
sonic-rs = { version = "0.3.17", optional = true }
stwo_cairo_utils = { path = "../utils" }
stwo-cairo-serialize = { path = "../cairo-serialize" }
stwo-prover.workspace = true
thiserror.workspace = true
tracing.workspace = true

[dev-dependencies]
cairo-lang-casm.workspace = true
rand.workspace = true
