name: Cairo workflow
on:
  workflow_dispatch:
  push:
    branches:
      - main

  pull_request:
    types:
      - opened
      - reopened
      - edited
      - synchronize
      - auto_merge_enabled

  merge_group:
    types:
      - checks_requested

jobs:
  scarb-test:
    runs-on: stwo-cairo-avx-l
    defaults:
      run:
        working-directory: ./stwo_cairo_verifier
    steps:
      - uses: actions/checkout@v3
      - uses: software-mansion/setup-scarb@v1
        with:
          scarb-version: "nightly-2025-04-12"
      - run: scarb fmt --check
      - run: scarb test

  run-tests:
    runs-on: stwo-cairo-avx-l
    defaults:
      run:
        working-directory: ./stwo_cairo_prover
    steps:
      - uses: actions/checkout@v3
      - name: Install latest nextest release
        uses: taiki-e/install-action@nextest
      - name: Fetch cache
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: stwo_cairo_prover
      - run: cargo nextest run --cargo-profile witness-opt-1 --features=slow-tests,std -j 1 -P ci
        env:
          RUST_MIN_STACK: 4194304
          RUSTFLAGS: -C target-cpu=native
          RUST_LOG_SPAN_EVENTS: enter,close
          RUST_LOG: info

  format:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./stwo_cairo_prover
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@master
        with:
          components: rustfmt
          toolchain: nightly-2025-04-06
      - uses: Swatinem/rust-cache@v2
      - run: scripts/rust_fmt.sh --check

  clippy:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./stwo_cairo_prover
    steps:
      - uses: actions/checkout@v2
      - uses: dtolnay/rust-toolchain@master
        with:
          components: clippy
          toolchain: nightly-2025-04-06
      - uses: Swatinem/rust-cache@v2
      - run: scripts/clippy.sh

  merge-gatekeeper:
    runs-on: ubuntu-latest
    # Restrict permissions of the GITHUB_TOKEN.
    # Docs: https://docs.github.com/en/actions/using-jobs/assigning-permissions-to-jobs
    permissions:
      checks: read
      statuses: read
    steps:
      - name: Run Merge Gatekeeper on pull request
        if: github.event_name == 'pull_request'
        uses: upsidr/merge-gatekeeper@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          timeout: 2500
          interval: 30
          ignored: "code-review/reviewable"

      - name: Run Merge Gatekeeper on Merge Queue || push
        if: github.event_name == 'merge_group' || github.event_name == 'push'
        uses: upsidr/merge-gatekeeper@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          ref: ${{github.ref}}
          timeout: 2500
          interval: 30
          ignored: "code-review/reviewable"
